header{
	height: 200px;
	width: 100%;
	background-image: url(image1.jpg);
	background filter: blur(15px);

}
body{
	overflow-x: hidden;
	
}
h1{
	color: white;
	text-align: center;
	padding-top: 50px;
}
h2{
	margin-top: 0px;
	padding: 25px;
	color: orange;
	width: 100%;

}
h3{
	margin-top: 0px;
	padding: 25px;
	color: orange;
	width: 100%;


}

p{
	font-family: cursive;
	padding-bottom: 50px;
	padding-left: 25px;
	color: white;
}
.explication{
	background-color: #333;
	width: 100%;
	height: 300px;

}
.section1{
	height: 500px;
	width: 100%;
	background-color: white;
	display: flex;
}

.section1 p{
	color: black;
}

img{
	padding: 25	x;
	height: 200px;
	width: 200px;
}

.cross{
	top: 0px;
	width: 400px;
	
}

.section2{
	background-color: #333;
	width: 100%;
	height: 400px;
}

a:hoover{
	box-shadow: black;
}