html {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: monospace;
    background-color: black;
	scroll-behavior: smooth;

}

body{
	width: 100%;
	height: 100%;
	text-decoration: none;
    list-style: none;
}

.slide1{
	width: 100%;
	height: 100%;
	background-image: url(animé.MOV);

	
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
	z-index: -100;
    position: fixed;
    width: 100%;
    height: 900px;
    top: 0;
    left: 0;
    background: #1d043e;
    overflow: hidden;
}

.background span {
    width: 16vmin;
    height: 16vmin;
    border-radius: 16vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #583C87;
    top: 49%;
    left: 12%;
    animation-duration: 23s;
    animation-delay: -4s;
    transform-origin: 2vw -15vh;
    box-shadow: 32vmin 0 4.620150821513574vmin currentColor;
}
.background span:nth-child(1) {
    color: #583C87;
    top: 44%;
    left: 60%;
    animation-duration: 33s;
    animation-delay: -28s;
    transform-origin: 22vw -3vh;
    box-shadow: -32vmin 0 4.78762999582038vmin currentColor;
}
.background span:nth-child(2) {
    color: #E45A84;
    top: 80%;
    left: 2%;
    animation-duration: 8s;
    animation-delay: -48s;
    transform-origin: 9vw 10vh;
    box-shadow: -32vmin 0 4.206957481828095vmin currentColor;
}
.background span:nth-child(3) {
    color: #FFACAC;
    top: 20%;
    left: 81%;
    animation-duration: 26s;
    animation-delay: -29s;
    transform-origin: 5vw 14vh;
    box-shadow: 32vmin 0 4.453558340710325vmin currentColor;
}
.background span:nth-child(4) {
    color: #583C87;
    top: 53%;
    left: 35%;
    animation-duration: 15s;
    animation-delay: -49s;
    transform-origin: 1vw -17vh;
    box-shadow: -32vmin 0 4.248880816433735vmin currentColor;
}
.background span:nth-child(5) {
    color: #E45A84;
    top: 35%;
    left: 23%;
    animation-duration: 40s;
    animation-delay: -10s;
    transform-origin: 1vw -8vh;
    box-shadow: -32vmin 0 4.8410753016532535vmin currentColor;
}
.background span:nth-child(6) {
    color: #583C87;
    top: 86%;
    left: 60%;
    animation-duration: 25s;
    animation-delay: -46s;
    transform-origin: 6vw 1vh;
    box-shadow: 32vmin 0 4.758932812666301vmin currentColor;
}
.background span:nth-child(7) {
    color: #583C87;
    top: 16%;
    left: 73%;
    animation-duration: 47s;
    animation-delay: -47s;
    transform-origin: 24vw 7vh;
    box-shadow: -32vmin 0 4.675388450239461vmin currentColor;
}
.background span:nth-child(8) {
    color: #583C87;
    top: 79%;
    left: 72%;
    animation-duration: 10s;
    animation-delay: -17s;
    transform-origin: -12vw 13vh;
    box-shadow: -32vmin 0 4.72269132928201vmin currentColor;
}
.background span:nth-child(9) {
    color: #FFACAC;
    top: 98%;
    left: 54%;
    animation-duration: 31s;
    animation-delay: -3s;
    transform-origin: -22vw -16vh;
    box-shadow: -32vmin 0 4.057105799404436vmin currentColor;
}
.background span:nth-child(10) {
    color: #583C87;
    top: 32%;
    left: 56%;
    animation-duration: 8s;
    animation-delay: -45s;
    transform-origin: 10vw -12vh;
    box-shadow: 32vmin 0 4.554876730231795vmin currentColor;
}
.background span:nth-child(11) {
    color: #FFACAC;
    top: 30%;
    left: 87%;
    animation-duration: 54s;
    animation-delay: -15s;
    transform-origin: -12vw 18vh;
    box-shadow: 32vmin 0 4.550895502312111vmin currentColor;
}
.background span:nth-child(12) {
    color: #583C87;
    top: 27%;
    left: 81%;
    animation-duration: 9s;
    animation-delay: -41s;
    transform-origin: -6vw -21vh;
    box-shadow: -32vmin 0 4.603464950318514vmin currentColor;
}
.background span:nth-child(13) {
    color: #583C87;
    top: 5%;
    left: 31%;
    animation-duration: 36s;
    animation-delay: -19s;
    transform-origin: 16vw -4vh;
    box-shadow: 32vmin 0 4.008348668498833vmin currentColor;
}
.background span:nth-child(14) {
    color: #E45A84;
    top: 37%;
    left: 77%;
    animation-duration: 40s;
    animation-delay: -2s;
    transform-origin: 18vw 0vh;
    box-shadow: -32vmin 0 4.998253984332628vmin currentColor;
}
.background span:nth-child(15) {
    color: #FFACAC;
    top: 86%;
    left: 71%;
    animation-duration: 18s;
    animation-delay: -22s;
    transform-origin: -18vw 13vh;
    box-shadow: 32vmin 0 4.838702235736211vmin currentColor;
}
.background span:nth-child(16) {
    color: #583C87;
    top: 34%;
    left: 34%;
    animation-duration: 23s;
    animation-delay: -3s;
    transform-origin: -22vw -23vh;
    box-shadow: -32vmin 0 4.351620953949645vmin currentColor;
}
.background span:nth-child(17) {
    color: #583C87;
    top: 79%;
    left: 50%;
    animation-duration: 49s;
    animation-delay: -40s;
    transform-origin: 19vw -12vh;
    box-shadow: -32vmin 0 4.781137269523479vmin currentColor;
}
.background span:nth-child(18) {
    color: #FFACAC;
    top: 97%;
    left: 59%;
    animation-duration: 51s;
    animation-delay: -41s;
    transform-origin: 9vw -9vh;
    box-shadow: -32vmin 0 4.643993063251157vmin currentColor;
}
.background span:nth-child(19) {
    color: #FFACAC;
    top: 44%;
    left: 100%;
    animation-duration: 8s;
    animation-delay: -46s;
    transform-origin: -14vw -13vh;
    box-shadow: 32vmin 0 4.543181004229998vmin currentColor;
}


.navbar {
position: fixed;
	padding:25px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	z-index: 25;
}
a{
	text-decoration: none;
	color: white;
}
.navbar a {
	color: orange;
	font-size: 20px;
	font-weight: 600x;
}
a:hover {
  box-shadow: 10px 5px 5px red;

}

.navbar .logo {
	font-size: 2em;
	font-weight: bold;

}

.navbar .nav-links {
	display: flex;



	
}

.navbar .nav-links ul{
	display: flex;
	

}


.navbar .nav-links ul li{
	margin: 25px;
}







.presentation{
	text-align: center;
	padding-top: 350px;

	

}
.photo{
	height: 250px;
	border: 3px solid red;
	border-radius: 100px;
	font-weight: 50px;
}
.photo p{
	box-sizing: border-box;
color: white;
text-align: center;		
}

.titre-presentation h1{
	font-family: monospace;
	font-size: 35px;
	color: white;
}
.titre-presentation p{
	font-size: 20px;
	color: white;
}

.bouton1{
	position: absolute;
	left: 600px;
	background-color: orange;
	border: 2px solid orange;
	border-radius: 50px;




}

.bouton1 p{
	color: white;
	margin: 25px;

}
.slide2{
	padding: 0;
	margin: 0;
	width:100%;
	height: 600px;
	background-color: #333;

}


.apropos{

	display: flex;
	align-content: center;
	text-align: center;
	justify-content: space-around;
	padding-top: 10vh;
	padding-left:2% ;
	padding-right: 2%;
	line-height: 1.8em;

}





.apropos h1{
	font-family: monospace;
	font-size: 2.18em;
	color: white;
	margin: 0;
	font-weight: bold;
}
.apropos h2{
	font-family: monospace;
	font-size: 1.5625em;
	color: white;
}
.apropos p{
	width: 45em;
	font-size: 1.3em;
	color: white;
}

.coordonne{
	font-size: 1.3em;
	justify-content:space-between ;
	
	
	color: white;

}

.coordonne  span{
	padding-right: 1.875em;
	color:  orange;
	font-weight: bold;
	font-family: monospace;
}

.coordonne li {
	padding: 0.5em;
	list-style: none;

}
.spe{
	width: 26.875em;
}

.monCV{
	border: 1em solid orange;
	height:2.0em;
	width: 11em;
	align-items: center;
	background-color: orange;
	border-radius: 3.125em;

}

.monCV a{
	color: white;
	text-align:center;
	margin:  1.5625em;
	padding-top: 50%;
}  

.monCV a:hover{
	color:red
}

.skill{
	box-sizing: border-box;
	display: flex;
	width:100%;
	height: 100%;
	align-items: center;
	padding-top:5%;
	
	justify-content: space-between;
}

.skill p{
	font-size: 19px;
	align-items: center;
	text-align: center;
}

.skill img{
	width: 100px;
	height: auto;
	padding: 50px;
}

.skill_image{
	display: flex;
	justify-content: space-around;
	
}
.skillReseau h2{

	font-weight: 1.875em;
	color:orange;

}

/*.skillReseau{
	margin-left: 100px;
}
.skillProg{
	margin-left: 500px;
}
*/

.skillProg h2{
	font-weight: 1.875em;
	color:orange;

}
.skill1{

}

.progression1{

	width:40%;
	height:100%;
	background-color: orange;
	border-radius: 1.875em;

}

.skill2{
	

}

.progression2{

	width:75%;
	height:100%;
	background-color: orange;
	border-radius: 1.875em;

}

.skill3{
	

}

.progression3{

	width:80%;
	height:100%;
	background-color: orange;
	border-radius: 1.875em;

}

.skill4{
	

}

.progression4{

	width:80%;
	height:100%;
	background-color: orange;
	border-radius: 1.875em;

}

.skill5{
	

}

.progression5{

	width:40%;
	height:100%;
	background-color: orange;
	border-radius: 1.875em;

}

.skill6{
	

}

.progression6{

	width:30%;
	height:100%;
	background-color: orange;
	border-radius: 1.875em;

}

.skillReseau h3{
	color: white;
	font-family: monospace;
	font-size: 1.25em;
}

.skillProg h3{
	color: white;
	font-family: monospace;
	font-size: 1.25em;
}

.slide3{
	width: 100%;
	height:auto;
	background-color: black;
}
.slide3 h2{
	width: 100%;
	color: white;
	margin: 0;
	font-size: 3.4em;
	padding-top: 4%;
	padding-left: 2%;

	/*padding-right: 22.8em;*/
}
.slide3 h3{
	color: white;
	font-size:2.4em ;
	font-weight: bolder;

}


.responsive{
	margin: auto;
	text-align: left;
	max-width: 1200px;

}

.quotidien{
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 100%;
	
 	padding-top: 6.25em;
	
	justify-content:center;

    align-items: center; /* Centrer verticalement */

}




.quotidien p{
	color: white;
	font-size: 1.125em;
}




.hobby2{
	padding-left: 0%;
}

.hobby2 p{
	max-width: 600px;
	font-size: 1.5rem;
}
.hobby1{
		padding-left: 0%;

	}
.hobby1 p{
	max-width: 550px;
	font-size: 1.5rem;
}
.slide4{
	width:100%;
	height: auto;
	background-color: #333;
}


.parcour h2{
	color: white;
  margin: 0;
  align-items: center;
  font-size: 3.4em;
	padding-top: 4%;
  padding-left: 2%;
  padding-bottom: 7%;
  
}

.parcour h3{
	color: white;
  font-size: 24px;
  font-weight: bolder;
  padding-left: 25%;
}
.parcour h4{
	color: white;
  font-size: 18px;
  font-weight: bolder;
  padding-left:25%;
  margin-bottom: 10px;
}
.formation1 span{
	color: orange;
	padding-left: 10%;
	color:  orange;
	font-weight: bold;
	font-family: monospace;


}

.formation1 p{
	color: white;
	font-size: 16px;
	padding-left: 28%;
}

.ligne{
	border: 1px solid orange;
	width: 38em;
	
	margin-left: 28%;
}



.timeline{
	position: relative;
	max-width: 70%;
	margin: auto;
}

.container{
	padding: 5%;
	position: relative;
	width:50%;
	animation: movedown 1s linear forwards;
	opacity: 0;
}

.container:nth-child(1){
	animation-delay: 0s;
}
.container:nth-child(2){
	animation-delay: 2s;
}

.container:nth-child(3){
	animation-delay: 4s;
}



@keyframes movedown {
	0%{
		opacity: 1;
		transform: translateY(-30px);

	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
	
}


.text-box{
	padding: 20px 30px;
	position: relative;
	
	border-radius: 6px;
	font-size: 15px;
	background-color: grey;
	background-image: image;

}

.left-container{
	left:0;
	margin-left: -100px;
}
.right-container{
	left: 50%;
}


.container img{
	position: absolute;
	width: 40px;
	text-align: center;
	
	border-radius: 50%;
	right: -20px;
	top: 32px;
	z-index: 10;
}

.right-container img{
	left: -20px;

}

.timeline::after{
	content: '';
	position:absolute;
	width: 6px;
	height: 100%;
	background:orange;
	top: 0;
	left: 50%;
	margin-left: -3px;
	z-index: 1;
	animation: moveline 6s linear forwards; 
}
@keyframes moveline {
	0%{
		height: 0;

	}
	100%{
		height: 100%;
	}
	
}

.text-box h2{
	font-weight: 200;
	font-size: large;
	color: orange;
}

.text-boxs small{
	display: inline-block;
	margin: 15px;
}


.left-container-arrow{
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;

	border-left: 15px solid orange;
	right: -15px;

}

.right-container-arrow{
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;

	border-right: 15px solid orange;
	left: -15px;

}


.slide5{
	width: 100%;
	height:auto;
	background-color: black;
}

.slide5bis{
	width: 100%;
	height:auto;
	background-color: black /*#333*/;
}






.projet h2{
	color: white;
  margin: 0;
  align-items: center;
  font-size: 3.4em;
	padding-top: 4%;
  padding-left: 2%;
}
.travaux{
	box-sizing: border-box;
	
	padding-top: 4%;
	padding-left: 2%;
	padding-right: 2%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* Centrer horizontalement */

    align-items: center; /* Centrer verticalement */
    text-align: center; /* Centrer le texte */
}
	
	
}
.travaux img{
	width: 24vw;
	height: 24vw;
}
.travaux img:hover {
	opacity: 0.2;
	filter: blur(10px) grayscale(100%);
	
	transition: 1s;
	filter: grayscale(100);
	
	
	
}

.projet p{
	color: white;
	width: 75%;
	margin: 50px;
	font-size: 18px;
}
.travaux p{
	box-sizing: border-box;
	padding-top: 10vw;
	align-items: center;
	text-align: center;
	justify-content: center;
	position:absolute;
	width: 22vw;

	opacity: 0;
	visibility: hidden; 
	transition: opacity 1s;
	margin: 0;
}
.travaux a:hover p {
    visibility: visible;
    opacity: 1;
}



.slide6{
	width: 100%;
	height: 250px;
	background-color: #333;
}
.slide6 h2{
	color: white;
  margin: 0;
  align-items: center;
  font-size: 50px;
	padding-top: 50px;
  padding-left: 350px;
}

.social{
	display: flex;
	padding-top: 50px;
  padding-left: 350px;
  align-items: center;
  font-size: 20px;

}

.social a{
	color: white;
	text-decoration: none;
}

.instagram a:hover {
  box-shadow: 10px 5px 5px purple;

}

.linkedin {
	margin-left: 25px;
}

.linkedin a:hover {
  box-shadow: 10px 5px 5px blue;
}
.slide7{
	width: 100%;
	height: 150px;
	background-color: white;
}


.slide7 p{
color: black;
margin: 0px;
padding: 0px;
}


